@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Latest news in the US</h1>
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
            @for(int i=0; i < 20 && i<Model.GetNews.totalResults; i++)
            {
                <div class="col-lg-4 d-flex align-items-stretch p-4">
                    <div class="card box-shadow">
                        <img class="card-img-top" src="@Url.Content(Model.GetNews.articles[i].urlToImage)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Url.Content(Model.GetNews.articles[i].title)</h5>
                            <p class="card-text">@Url.Content(Model.GetNews.articles[i].description)</p>
                            <a href="@Url.Content(Model.GetNews.articles[i].url)" class="btn btn-primary">Go to article</a>
                        </div>
                    </div>
                </div>
                
            }
            </div>
        </div>
    </div>
</div>
